---
import { Image } from 'astro:assets'
import GeotecLogo from '@/assets/images/GeotecLogo.png'
import GeotecLogoBlack from '@/assets/images/GeotecLogoBlack.png'
import { twMerge } from '@/utils/twMerge'

interface Props {
	dark?: boolean
}

const { dark } = Astro.props
---

<div class="flex h-16 gap-4 items-center">
	<Image class="h-full w-auto" src={dark ? GeotecLogoBlack : GeotecLogo} alt="geotec-logo" />
	<div class="flex flex-col items-center">
		<h1 class={twMerge('font-bold text-4xl', dark ? 'text-black' : 'text-white')}>GEOTEC</h1>
		<p class={twMerge('text-[10px] font-medium', dark ? 'text-black' : 'text-white')}>
			Geospatial Technology
		</p>
	</div>
</div>
